
Manifest.toml

*.swp
*.gif
*.png
*.mat
*.jld
*.csv

*checkpoint.ipynb

*.blg
*.bst
*.synctex.gz
*.log
*.bbl
*.toc
*.aux
*.bcf
*.run.xml
*.log
*.nav
*.out
*.snm
*.thm
*.avi
*.fig
*.pdf
*.fls
*.texmk
*.DS_Store
*.h5
*.hdf5
*.fdb_latexmk
*.xdv

docs/build/
